{% extends 'layout.html' %}

{%block conteudo%}

<h1 class="red-text">Atualiar operador</h1>
<ul class="erros red-text"></ul>
<div class="section">
  <form action="{{url_for('atualizar_agente')}}" method="POST" class="row formulario">
    <input type="hidden" value="{{id}}" name="id">
    <div class="input-field col s2">
      <input type="number" id="cadastro" name="cadastro" class="validate" value="{{agente["CAD"]}}">
      <label for="cadastro">CAD</label>
    </div>
    <div class="input-field col s10">
      <input type="text" id="nome" name="nome" class="validate" value="{{agente["NOME"]}}">
      <label for="nome">Nome</label>
    </div>
    <div class="input-field col s4">
      <input type="text" id="ramal" name="ramal" class="validate" value="{{agente["RAMAL"]}}">
      <label for="ramal">Ramal</label>
    </div>
    <div class="input-field col s2">
      <select id='pausa' name="pausa">
        <label>PAUSA</label>
        <option value="" selected >PAUSA</option>
        <option value="SIM" {{'selected' if agente["PAUSAS"]=="SIM"}}>SIM</option>
        <option value="NAO" {{'selected' if agente["PAUSAS"]=="NAO"}}>NAO</option>
      </select>
    </div>
    <div class="input-field col s2">
      <select id='monitoria' name="monitoria">
        <label>MONITORIA</label>
        <option value="" selected >MONITORIA</option>
        <option value="SIM" {{'selected' if agente["MONITORIA"]=="SIM"}}>SIM</option>
        <option value="NAO" {{'selected' if agente["MONITORIA"]=="NAO"}}>NAO</option>
      </select>
    </div>
    <div class="input-field col s2">
      <select name="celular">
        <label>CELULAR</label>
        <option value="" selected >CELULAR</option>
        <option value="SIM" {{'selected' if agente["CELULAR"]=="SIM"}}>SIM</option>
        <option value="NAO" {{'selected' if agente["CELULAR"]=="NAO"}}>NAO</option>
      </select>
    </div>
    <div class="input-field col s2">
      <select id='sabado' name="sabado">
        <label>TRABALHA SABADO</label>
        <option value="" selected >TRABALHA SABADO</option>
        <option value="SIM" {{'selected' if agente["SAB"]=="SIM"}}>SIM</option>
        <option value="NAO" {{'selected' if agente["SAB"]=="NAO"}}>NAO</option>
      </select>
    </div>
    <div class="input-field col s2">
      <select id='cc' name="cc">
        <label>CC</label>
        <option value="{{agente["CC"]}}" >{{agente["CC"]}}</option>
        {% for item in ccs %}
        <option value="{{item["CC"]}}">{{item["CC"]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field col s2">
      <select id='nvl' name="nvl">
        <label>NVL</label>
        <option value="" selected >NVL</option>
        <option value="ADM" {{'selected' if agente["NVL"]=="ADM"}} >ADM</option>
        <option value="AUX" {{'selected' if agente["NVL"]=="AUX"}} >AUX</option>
        <option value="OPE" {{'selected' if agente["NVL"]=="OPE"}} >OPE</option>
      </select>
    </div>
    <div class="input-field col s4">
      <select id='setor' name="setor">
        <label>Setor</label>
        <option value="{{agente["SETOR"]}}" selected>{{agente["SETOR"]}}</option>
        {% for item in setores %}
        <option value="{{item["SETOR"]}}">{{item["SETOR"]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field col s4">
      <select id='funcao' name="funcao">
        <option value="" selected>FUNCAO</option>
        <option value="{{agente["FUNCAO"]}}" selected>{{agente["FUNCAO"]}}</option>
      </select>
    </div>
    <div class="input-field col s3">
      <select id='cargo' name="cargo">
        <option value="{{agente["CARGO"]}}" selected>{{agente["CARGO"]}}</option>
      </select>
    </div>
    <div class="input-field col s4">
      <select id='gestor' name="gestor">
        <label>Gestor</label>
        <option value="{{agente["GESTOR"]}}" selected>{{agente["GESTOR"]}}</option>
        {% for item in gestores %}
        <option value="{{item["NOME"]}}">{{item["NOME"]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field col s3">
      <select id='jornada' name="jornada">
        <label>Jornada</label>
        <option value="{{agente["JORNADA"]}}" selected>{{agente["JORNADA"]}}</option>
        {% for item in jornadas %}
        <option value="{{item["JORNADA"]}}">{{item["JORNADA"]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field col s2">
      <select id='mes' name="mes">
        <label>Meses</label>
        <option value="{{agente["MES_ANO"]}}" selected>{{agente["MES_ANO"]}}</option>
        {% for item in meses %}
        <option value="{{item["MES_ANO"]}}">{{item["MES_ANO"]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-fild col s3">
      <input type="text" id="adm" name="adm" class="validate datepicker" placeholder="Data de admissão" value="{{agente["DATA_ADM"]}}">
    </div>
    <div class="input-fild col s3">
      <input type="text" id="dms" name="dms" class="validate datepicker ignorar" placeholder="Data de demissão"  value="{{agente["DATA_DESLIGAMENTO"]}}">
    </div>
    <div class="input-field col s3" style="margin-top: 0px;">
    <select id='status' name="status" class="">
      <label>Status</label>
      <option value="" selected>Status</option>
      <option value="{{agente["STATUS"]}}" selected>{{agente["STATUS"]}}</option>u
      {% for item in status %}
      <option value="{{item["STATUS"]}}">{{item["STATUS"]}}</option>
      {% endfor %}
    </select>
    </div>
    <button class=" btn-large btn waves-effect waves-light red right enviar" type="submit">CADASTRAR
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
{% endblock %}

{% block script%}

$('.enviar').click(function (e) {
event.preventDefault();
if (valida_form('ignorar')) {
$('.formulario').submit()
}
})

trazer_option("#cargo", "CARGO",'{{url_for("cargos")}}',"#setor","#funcao")

trazer_option("#funcao", "FUNCAO",'{{url_for("funcoes")}}',"#setor",null)

{% endblock %}