
{% extends 'layout.html' %}

{%block conteudo%}
<table class="responsive-table">
    <thead>
        <tr>
                {% for item in keys %}
                    <th>
                        {{ item }}
                    </th>
                {% endfor %}
        </tr>
    </thead>
    <tbody>


        {% for item in mop %}
        <tr>
            {% for subitem in item.values() %}
            <td>{{subitem}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </tbody>
</table>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="{{url_for('cadastrar_operador')}}"><i class="material-icons">person_add</i></a></li>
      <li><a class="btn-floating green darken-1" id='download'><i class="material-icons">file_download</i></a></li>
    </ul>
  </div>
{% endblock %}

{% block script %}

$('#download').click(function(){
    var texto = ""
    $.each($('tr'), function (indexInArray, valueOfElement) { 
    $.each($(valueOfElement).children(), function (indexInArray, valueOfElement) { 
            
            texto =  texto + ($(valueOfElement).text().trim()) +";"
        });  
    console.log('pula linha')
    texto = texto + "\n"
    });
    console.log(texto)

    download_csv(texto)
})

{% endblock %}