{% extends 'layout.html' %}

{%block conteudo%}
<div class="section">
    <h2 class="red-text">Bem vindo!</h2>
    <blockquote>
        Ferramenta desenvolvida pelo núcleo de controle com a finalidade de melhorar o controle do MOP (Mapa operacional)
    </blockquote>
    <h3 class="red-text">Extraia relatórios!</h3>
    <blockquote>
        <ul>
            <li><a>Vá em relatórios</a></li>
            <li>Selecione o período</li>
            <li>Baixe o relatório!</li>
            <li></li>
        </ul>
    </blockquote>
</div>
{% endblock %}
