<html>
    <head>
        <title>Mop</title>
        <link href="static\materialize-v1.0.0\materialize\css\materialize.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="imagem/png" href="static\icon.png" />

        <style>

          .erro{
            border-color: red !important; 
          }
          table{
          display: block;
          max-width: 100%;
          overflow: auto;
          font-size: .9em;
          }
        </style>
        <style>
        {% block style %} 
        {% endblock %}
        </style>
    </head>
    <body>
        <!--menu side-->

        <ul id="slide-out" class="sidenav">
          <li><div class="brand-logo" style="padding: 0 32px;"><a href="{{url_for('home')}}"><h2 class="red-text">MOP</h2></a> </div></div></li>
          <li><div class="divider"></div></li>
          <li><a class="waves-effect waves-light modal-trigger" href="#modaluser"><i class="material-icons left">person</i>Usuário: {{session['MATRICULA']}}</a></li>
          <li><a class="waves-effect waves-light" href="{{url_for('logout')}}"><i class="material-icons left">power_settings_new</i>Deslogar</a></li>
          <li><div class="divider"></div></li>
          <li><a href="{{url_for('agentes')}}"><i class="material-icons left">people</i>Agentes</a></li>
          {% if session['NV'] == 10 %}
          <li><div class="divider"></div></li>
          <li><a href="{{url_for('setor_select')}}"><i class="material-icons left">assignment_ind</i>Setor</a></li>
          <li><a href="{{url_for('jornadas_select')}}"><i class="material-icons left">alarm</i>Horario</a></li>
          <li><a href="{{url_for('usuarios')}}"><i class="material-icons left">account_circle</i>Usuários</a></li>
          <li><a href="{{url_for('movimentacoes_lista')}}"><i class="material-icons left">arrow_forward</i>Movimentações</a></li>
          <li><a href="{{url_for('copiar_mes')}}"><i class="material-icons left">content_copy</i>Copiar mes</a></li>
          {% endif %}
        </ul>
        <div style="margin-top: 2em; margin-left: 2em;">
          <a class="btn-floating btn-large red sidenav-trigger" data-target="slide-out" >
            <i class="large material-icons">arrow_forward</i>
          </a>
        </div>
        <!--fim  menu side-->
        <!--container-->
        <div class="container">


  <!-- troca de senha-->
  <div id="modaluser" class="modal">
    <div class="modal-content">
      <h4>Mude sua senha</h4>
      <form class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">https</i>
          <label for="senha1">senha</label>
          <input type="password" id="senha1" name="senha1" class="validate ignorar">
          
        </div>
        <div class="input-field col s3">
          <label for="senha2" >Confirmar senha</label>
          <input type="password" id="senha2" name="senha2" class="validate ignorar">

        </div>
        <div class="row">
          <a class="btn" style="margin-top: 2%" id="btn-senha">Confirmar</a>
        </div>
      </form>
    </div>
  </div>
        {% block conteudo %}
        {% endblock %}


      </div>
      <footer class="center">
        © 2020 Núcleo de controle
      </footer>
        <!--fim cointainer-->
        <!--scripts-->
        <script src="static\jquery-3.4.1.min.js"></script>
        <script src="static\materialize-v1.0.0\materialize\js\materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                option = ''
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
              });
            
              // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
              // var collapsibleElem = document.querySelector('.collapsible');
              // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
            
              // Or with jQuery
            
              $(document).ready(function(){
                $('.sidenav').sidenav();
              });


              document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    
    var instances = M.Datepicker.init(elems, {});
  });

  // Or with jQuery

  $(document).ready(function(){
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
  

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
    $('.datepicker').datepicker({
    format:'yyyy-mm-dd',
    i18n:{
    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
    weekdaysAbbrev: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    today: 'Hoje',
    clear: 'Limpar',
    close: 'Pronto',
    labelMonthNext: 'Próximo mês',
    labelMonthPrev: 'Mês anterior',
    labelMonthSelect: 'Selecione um mês',
    labelYearSelect: 'Selecione um ano',
    selectMonths: true,
    selectYears: 15,
    cancel: 'Cancelar',
    clear: 'Limpar'
}
});
  });

  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });

  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });

  // Or with jQuery

  $('.dropdown-trigger').dropdown();




</script>
          <script src="static\scripts.js"></script>
          
<script>
  {% block script %}{% endblock %}
</script>

<script>
$('#btn-senha').click(function () { 
  if ($('#senha1').val() == $('#senha2').val()){
    obj = $('#senha1').val()
    $.ajax({
      url: '{{url_for('trocar_senha')}}',
      data: {data: obj},
      type: 'POST',
      success: function(response){
        alert('Senha Trocada! :)')
        document.location.reload(true);
      }
      })
  }else{
    alert('As senhas não são iguais! :(')
  }
 })
</script>
</body>

</html>